/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--first-gradient-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--first-gradient-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--second-gradient-color) 0.01%,
      var(--third-gradient-color)
    );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px auto 104px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(120px, 114.366px + 1.502vw, 136px);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--bg-color);
  max-inline-size: var(--inline-size);
  block-size: clamp(323px, 308.563px + 3.85vw, 364px);
}

.header_title {
  padding-block-end: 19px;
  font-size: clamp(49px, 43.366px + 1.502vw, 65px);
  text-transform: uppercase;
}

.header_subtitle {
  padding-block-end: 23px;
  font-size: clamp(14px, 10.831px + 0.8451vw, 23px);
  text-transform: uppercase;
}

.theme-menu {
  padding-inline-start: 17px;
}

.theme-menu__list {
  display: grid;
  gap: 11px;
  padding-block-end: 25px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 5px;
  border-block-end: 2px solid var(--accent-color);
  opacity: 0.6;
  transition: scale 0.3s ease;
  block-size: 2px;
  inline-size: 90%;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  transform-origin: left;
  scale: 1;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -13px;
  animation: moving 0.5s infinite alternate ease-in-out;
  block-size: 13px;
  inline-size: 16px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  margin: 0 auto 0;
  max-inline-size: var(--inline-size);
}

.content_cards {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.content_title {
  border-block-end: 2px solid var(--accent-color);
  padding: var(--top-content-padding) 10px var(--bottom-content-padding);
  font-weight: var(--main-font-bold-weight);
  font-size: inherit;
  font-variation-settings: "wght" var(--main-font-bold-weight);
}

.image-label_card {
  position: relative;
}

.image_label {
  position: absolute;
  top: var(--top-label-position);
  right: var(--right-label-position);
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--text-shadow);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-shadow)) or
    (-webkit-text-stroke: 1px var(--text-shadow))
) {
  .image_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
  }
}

.content_image {
  border-block-end: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  max-inline-size: 693px;
  inline-size: 100%;
  block-size: clamp(371px, 256.563px + 30.516vw, 696px);
}

.saturate_image {
  filter: contrast(150%) saturate(140%);
}

.blur_image {
  filter: blur(0.1rem) grayscale(50%);
}

.invert_image {
  filter: invert(20%) hue-rotate(70deg);
}

.sepia_image {
  filter: sepia(50%);
}

.grayscale_image {
  filter: grayscale(70%);
}

.contrast_image {
  filter: contrast(200%);
}

.hue-rotate_image {
  filter: hue-rotate(320deg);
}

.content-list-items {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: var(--top-paragraph-padding) var(--right-paragraph-padding) 25px 25px;
  line-height: 21px;
}

.content_footer {
  display: flex;
  justify-content: end;
  gap: var(--content_footer-gap);
  padding-block-end: 25px;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 25px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
  block-size: 105%;
  inline-size: 100%;
  scale: 0 1;
}

.card__like-button:hover::after {
  outline: none;
  transition: scale 0.5s ease-in-out;
  scale: 1;
}

.card__icon-button {
  display: block;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-color-text);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 54px auto 102px;
}

.card__save-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px;
  background-color: var(--bg-color);
  cursor: pointer;
  inline-size: var(--save-button-width);
  block-size: var(--save-button-height);
}

.card__save-button:focus {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__save-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
  block-size: 105%;
  inline-size: 100%;
  scale: 0 1;
}

.card__save-button:hover::after {
  outline: none;
  transition: scale 0.5s ease-in-out;
  scale: 1;
}

.floppy_button {
  inline-size: var(--floppy-size);
  block-size: var(--floppy-size);
}

.floppy {
  position: relative;
  z-index: 2;
  color: var(--button-color-text);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color);
  padding: var(--dialog-padding-top) var(--dialog-padding-left);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--bg-color);
  max-inline-size: var(--dialog-width);
}

.dialog_text {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 150%;
  max-inline-size: var(--dialog-text-width);
}

.dialog_floppy {
  block-size: 39px;
  inline-size: 89px;
}

.top_dialog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block-end: 30px;
}

.submit {
  inline-size: var(--submit-width);
  block-size: 38px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
